/**
|
| vendor
|
**/

@import 'vendor/font-awesome/font-awesome';

/**
|
| variables
|
**/

@import "modules/variables";

/**
|
| components
|
**/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import "modules/jumbotron";
@import "modules/navbar";
@import "modules/languages";
@import "modules/buttons";
@import "modules/footer";

/**
|    temp
*/

* {
    margin: 0;
    font-family: 'Raleway';
    color: white;
}

h1 {
    font-size: 40px;
    margin: 0.5em auto;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    margin: 0.5em auto;
}